<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify"> <i>EBuy ECOMMERCE</i> Sito di  tecnologia e vendita assortita. Smartphone, Tablet, Notebbok. Pagamenti sicuri.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Dove siamo</h6>
        <ul class="footer-links">
          <li><p><b>Negozio fisico in via pietro bucci 87036 Arcavacata CS</b></p></li>
        </ul>
      </div>

    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright EBuy &copy; 2020 All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</footer>
